{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<html class>
  <h1 class="text-center">ECE:4880 Lab # 1</h1>

  <head>
    <meta charset="UTF-8" />
    <title>ECE:4880 Lab # 1</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename= 'css/main.css')}}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <h4>Temperature Sensor Web App</h4>

    <!-- Temp data from database -->

    <div id="tempDisplay">
      {% if sensor == "False" %} {{"Sensor Unplugged"}} {% elif switch ==
      "False" %} {{"No data available"}}{% elif temp == "fahrenheit"%} {{tempF +
      "°" + "F"}}{% else %} {{tempC + "°" + "C"}} {%endif%}
    </div>

    <form id="update-form">
      <div class="form-row mt-4">
        <div class="col-3">
          <input
            type="number"
            class="form-control"
            id="min-temp"
            placeholder="Min Temperature..."
          />
        </div>
        <div class="col-3">
          <input
            type="number"
            class="form-control"
            id="max-temp"
            placeholder="Max Temperature..."
          />
        </div>

        <div class="col-1">
          <select id="metric" class="form-control">
            <option selected value="c">°C</option>
            <option value="f">°F</option>
          </select>
        </div>
        <div class="col-4">
          <input
            type="number"
            class="form-control mb-2"
            id="phone-number"
            placeholder="Phone Number..."
          />
        </div>
        <div class="col-1">
          <button id="submit-btn" class="btn btn-dark">Submit</button>
        </div>
      </div>
    </form>

    <div id="graph">
      <svg width="800" height="500"></svg>
      <!-- <div class="btn-grp">
        <button class="btn-vertical" id="btn-scale-sm">sm</button
        ><button class="btn-vertical" id="btn-scale-me">me</button
        ><button class="btn-vertical" id="btn-scale-lg">lg</button>
      </div> -->
    </div>

    <button id="metricButton" style="margin-bottom: 10px">
      Temeprature is in : {% if temp == "fahrenheit"%} {{"F"}} {% else%} {{"C"}}
      {%endif%}
    </button>
    <button id="tempButton">
      Button is : {% if virtualButton == "False"%} {{"OFF"}} {% else%} {{"ON"}}
      {%endif%}
    </button>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/graph.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/buttons.js') }}"
    ></script>
  </body>
</html>
{% endblock %}
