{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<html>
    <h1>ECE:4880 Lab # 1</h1>

    <head>
        <meta charset="UTF-8">
        <title>ECE:4880 Lab # 1</title>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename= 'css/main.css')}}" > -->
    </head>

    <body>
        <h4>Temperature Sensor Web App</h4>

        <form action="/" method="post">
            <h2>h2 Text </h2>
            <p>p Text <br>
                p Text <br>
                p Text </p>
            <br>

            <!-- Temp data from database -->
            <p>Temp in C = {{tempC}}</p> 
            <p>Temp in C = {{tempF}}</p> 


            <!-- <script>
                Add firebase config here ?
            </script> -->

            <!-- <pre>Temp in F = {{tempF}}</pre> -->
            <!-- retrieves ouput from results function -->

            
            <input type="button" value="Temperature in F" id="tempButton" >
            <
            <script>
                const btn = document.getElementById("tempButton");
                btn.addEventListener("click", ()=>{
                    if(btn.value === "Temperature in F"){
                        btn.value = "Temperature in C";

                    }else{
                        btn.value= "Temperature in F";
                    }})
            </script>

            

        </form>
    </body>
</html>
{% endblock %}